/* 总容器 */
.wraper {
    width: 100%;
    height: 100%;
}

/* header */
.wraper .header {
    width: 100%;
    height: 12vw;
    background-color: #0097FF;
    color: #fff;
    font-size: 4.8vw;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* logo */
.business-logo {
    width: 100%;
    height: 35vw;
    margin-top: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.business-logo img {
    width: 40vw;
    height: 30vw;
    border-radius: 5px;
}

/* 商家信息部分 */
.business-info {
    width: 100%;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.business-info h1 {
    font-size: 5vw;
}
.business-info p {
    font-size: 3vw;
    color: #666;
    margin-top: 1vw;
}

/* 食品列表 部分 */
.food {
    width: 100%;
    margin-bottom: 14vw;
}
.food li {
    width: 100%;
    box-sizing: border-box;
    padding: 2.5vw;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.food li .food-left {
    display: flex;
    align-items: center;
}
.food-left .img {
    width: 20vw;
    height: 20vw;
}
.food-left .img img {
    width: 100%;
    height: 100%;
}
.food-left-info {
    margin-left: 3vw;
}
.food-left-info h3 {
    font-size: 3.8vw;
    color: #555;
}
.food-left-info p {
    font-size: 3vw;
    color: #888;
    margin-top: 2vw;
}
.food li .food-right {
    width: 16vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-minus-circle {
    font-size: 5.5vw;
    color: #999;
    cursor: pointer;
}
.fa-plus-circle {
    font-size: 5.5vw;
    color: #0097EF;
    cursor: pointer;
}
.food-right p {
    font-size: 3.6vw;
    color: #333;
}

/* 购物车 */
.cart {
    width: 100%;
    height: 14vw;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
}
.cart-left {
    flex: 2;
    display: flex;
    align-items: center;
    background-color: #505051;
}
.cart-left-icon {
    width: 16vw;
    height: 16vw;
    border: 1.6vw solid #444;
    border-radius: 8vw;
    background-color: #0097EF;
    font-size: 7vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4vw;
    margin-left: 3vw;
    position: relative;
}
.cart-left-icon-quantity {
    width: 5vw;
    height: 5vw;
    font-size: 3.6vw;
    border-radius: 2.5vw;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -1.5vw;
    top: -1.5vw;
}
.cart-left .cart-left-info p:first-child {
    font-size: 4.5vw;
    color: #fff;
    margin-top: 1vw;
}
.cart-left .cart-left-info p:last-child {
    font-size: 2.8vw;
    color: #AAA;
}

.cart-right {
    flex: 1;
}
.cart-right-item {
    width: 100%;
    height: 100%;
    background-color: #38CA73;
    color: #fff;
    font-size: 4.5vw;
    font-weight: 700;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
